In [35]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from imblearn.over_sampling import SMOTE
from sklearn.metrics import classification_report
from sklearn.tree import DecisionTreeClassifier
from imblearn.under_sampling import TomekLinks

In [2]:
df = pd.read_csv("files_for_lab\Customer-Churn.csv")

In [3]:
df

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,No,Yes,Yes,Yes,Yes,One year,84.80,1990.5,No
7039,Female,0,Yes,Yes,72,Yes,No,Yes,Yes,No,Yes,Yes,One year,103.20,7362.9,No
7040,Female,0,Yes,Yes,11,No,Yes,No,No,No,No,No,Month-to-month,29.60,346.45,No
7041,Male,1,Yes,No,4,Yes,No,No,No,No,No,No,Month-to-month,74.40,306.6,Yes
7042,Male,0,No,No,66,Yes,Yes,No,Yes,Yes,Yes,Yes,Two year,105.65,6844.5,No

In [4]:
cols= df.columns
for col in cols:
    print(f"Value counts for column '{col}':")
    print(df[col].value_counts())
    print()

Value counts for column 'gender':
Male      3555
Female    3488
Name: gender, dtype: int64

Value counts for column 'SeniorCitizen':
0    5901
1    1142
Name: SeniorCitizen, dtype: int64

Value counts for column 'Partner':
No     3641
Yes    3402
Name: Partner, dtype: int64

Value counts for column 'Dependents':
No     4933
Yes    2110
Name: Dependents, dtype: int64

Value counts for column 'tenure':
1     613
72    362
2     238
3     200
4     176
     ...
28     57
39     56
44     51
36     50
0      11
Name: tenure, Length: 73, dtype: int64

Value counts for column 'PhoneService':
Yes    6361
No      682
Name: PhoneService, dtype: int64

Value counts for column 'OnlineSecurity':
No                     3498
Yes                    2019
No internet service    1526
Name: OnlineSecurity, dtype: int64

Value counts for column 'OnlineBackup':
No                     3088
Yes                    2429
No internet service    1526
Name: OnlineBackup, dtype: int64

Value counts for column 'DeviceProtection':
No                     3095
Yes                    2422
No internet service    1526
Name: DeviceProtection, dtype: int64

Value counts for column 'TechSupport':
No                     3473
Yes                    2044
No internet service    1526
Name: TechSupport, dtype: int64

Value counts for column 'StreamingTV':
No                     2810
Yes                    2707
No internet service    1526
Name: StreamingTV, dtype: int64

Value counts for column 'StreamingMovies':
No                     2785
Yes                    2732
No internet service    1526
Name: StreamingMovies, dtype: int64

Value counts for column 'Contract':
Month-to-month    3875
Two year          1695
One year          1473
Name: Contract, dtype: int64

Value counts for column 'MonthlyCharges':
20.05     61
19.85     45
19.95     44
19.90     44
20.00     43
          ..
23.65      1
114.70     1
43.65      1
87.80      1
78.70      1
Name: MonthlyCharges, Length: 1585, dtype: int64

Value counts for column 'TotalCharges':
          11
20.2      11
19.75      9
20.05      8
19.9       8
          ..
6849.4     1
692.35     1
130.15     1
3211.9     1
6844.5     1
Name: TotalCharges, Length: 6531, dtype: int64

Value counts for column 'Churn':
No     5174
Yes    1869
Name: Churn, dtype: int64

In [5]:
col_to_check=["TotalCharges","MonthlyCharges","tenure"]

In [6]:
data_types = df.dtypes
data_types

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [7]:
df["TotalCharges"] = df["TotalCharges"].replace({" ":0})

In [8]:
df["TotalCharges"]=df["TotalCharges"].astype(float)

## Binarization of data

In [9]:
col_to_binary=["Partner","Dependents","PhoneService","Churn"]

In [10]:
for i in col_to_binary:
    df[i] = df[i].replace({"Yes":1,"No":0})

In [11]:
df

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,1,0,1,0,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,0
1,Male,0,0,0,34,1,Yes,No,Yes,No,No,No,One year,56.95,1889.50,0
2,Male,0,0,0,2,1,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,1
3,Male,0,0,0,45,0,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,0
4,Female,0,0,0,2,1,No,No,No,No,No,No,Month-to-month,70.70,151.65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,1,1,24,1,Yes,No,Yes,Yes,Yes,Yes,One year,84.80,1990.50,0
7039,Female,0,1,1,72,1,No,Yes,Yes,No,Yes,Yes,One year,103.20,7362.90,0
7040,Female,0,1,1,11,0,Yes,No,No,No,No,No,Month-to-month,29.60,346.45,0
7041,Male,1,1,0,4,1,No,No,No,No,No,No,Month-to-month,74.40,306.60,1
7042,Male,0,0,0,66,1,Yes,No,Yes,Yes,Yes,Yes,Two year,105.65,6844.50,0

In [12]:
df["gender"].unique()
df["Contract"].unique()

array(['Month-to-month', 'One year', 'Two year'], dtype=object)

## Categorical data encoding

In [13]:
categorical_df=df[["gender","Contract","OnlineSecurity","OnlineBackup","DeviceProtection","TechSupport","StreamingTV","StreamingMovies"]]

In [14]:
columns_to_drop = ["gender", "Contract","OnlineSecurity","OnlineBackup","DeviceProtection","TechSupport","StreamingTV","StreamingMovies"]
df=df.drop(columns_to_drop, axis=1)

In [15]:
encoded_categorical=pd.get_dummies(categorical_df)

In [16]:
encoded_categorical

,gender_Female,gender_Male,Contract_Month-to-month,Contract_One year,Contract_Two year,OnlineSecurity_No,OnlineSecurity_No internet service,OnlineSecurity_Yes,OnlineBackup_No,OnlineBackup_No internet service,...,DeviceProtection_Yes,TechSupport_No,TechSupport_No internet service,TechSupport_Yes,StreamingTV_No,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No,StreamingMovies_No internet service,StreamingMovies_Yes
0,1,0,1,0,0,1,0,0,0,0,...,0,1,0,0,1,0,0,1,0,0
1,0,1,0,1,0,0,0,1,1,0,...,1,1,0,0,1,0,0,1,0,0
2,0,1,1,0,0,0,0,1,0,0,...,0,1,0,0,1,0,0,1,0,0
3,0,1,0,1,0,0,0,1,1,0,...,1,0,0,1,1,0,0,1,0,0
4,1,0,1,0,0,1,0,0,1,0,...,0,1,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,1,0,1,0,0,0,1,1,0,...,1,0,0,1,0,0,1,0,0,1
7039,1,0,0,1,0,1,0,0,0,0,...,1,1,0,0,0,0,1,0,0,1
7040,1,0,1,0,0,0,0,1,1,0,...,0,1,0,0,1,0,0,1,0,0
7041,0,1,1,0,0,1,0,0,1,0,...,0,1,0,0,1,0,0,1,0,0
7042,0,1,0,0,1,0,0,1,1,0,...,1,0,0,1,0,0,1,0,0,1

In [17]:
merged_df=pd.concat([df,encoded_categorical], axis=1)

In [18]:
merged_df['Churn'].value_counts()

0    5174
1    1869
Name: Churn, dtype: int64

## X-Y split

In [19]:
X = merged_df.drop("Churn",axis=1)
Y = merged_df["Churn"]

In [20]:
X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size=0.2, random_state=42)

## Balancing

In [21]:
smote=SMOTE(random_state=42)

In [22]:
X_train_resampled, y_train_resampled = smote.fit_resample(X_train,y_train)

,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,...,DeviceProtection_Yes,TechSupport_No,TechSupport_No internet service,TechSupport_Yes,StreamingTV_No,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No,StreamingMovies_No internet service,StreamingMovies_Yes
0,0,1,0,1,0,29.85,29.85,0,1,0,...,0,1,0,0,1,0,0,1,0,0
1,0,0,0,34,1,56.95,1889.50,0,0,1,...,1,1,0,0,1,0,0,1,0,0
2,0,0,0,2,1,53.85,108.15,1,0,1,...,0,1,0,0,1,0,0,1,0,0
3,0,0,0,45,0,42.30,1840.75,0,0,1,...,1,0,0,1,1,0,0,1,0,0
4,0,0,0,2,1,70.70,151.65,1,1,0,...,0,1,0,0,1,0,0,1,0,0

In [25]:
y_train_resampled.value_counts()

0    4138
1    4138
Name: Churn, dtype: int64

## Model train - Logistic Regression

In [27]:
classification = LogisticRegression(random_state=42, max_iter=100000)
classification.fit(X_train_resampled, y_train_resampled)

LogisticRegression(max_iter=100000, random_state=42)

In [30]:
predictions = classification.predict(X_test)
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.88      0.86      0.87      1036
           1       0.63      0.67      0.65       373

    accuracy                           0.81      1409
   macro avg       0.75      0.76      0.76      1409
weighted avg       0.81      0.81      0.81      1409

## Model train - Decision Tree

In [34]:
model = DecisionTreeClassifier()
model.fit(X_train_resampled, y_train_resampled)
model.score(X_test, y_test)

0.7295954577714692

## TomekLinks for downsampling

In [39]:
tl = TomekLinks(sampling_strategy='majority')

X_tl, y_tl = tl.fit_resample(X, Y)

In [40]:
X_train_tl, X_test_tl, y_train_tl, y_test_tl = train_test_split(X_tl, y_tl, test_size=0.2, random_state=11)

## Model train - Logistic Regression

In [41]:
classification = LogisticRegression(random_state=42, max_iter=100000)
classification.fit(X_train_tl, y_train_tl)
predictions = classification.predict(X_test_tl)
print(classification_report(y_test_tl, predictions))

              precision    recall  f1-score   support

           0       0.86      0.91      0.89       903
           1       0.76      0.67      0.71       393

    accuracy                           0.84      1296
   macro avg       0.81      0.79      0.80      1296
weighted avg       0.83      0.84      0.83      1296

## Model train - Decision Tree

In [42]:
model = DecisionTreeClassifier()
model.fit(X_train_tl,y_train_tl )
model.score(X_test_tl, y_test_tl)

0.7662037037037037